@using ATMScoreBoard.Shared
@using ATMScoreBoard.Shared.Models
@using ATMScoreBoard.Web.DTOs
@using System.Net.Http.Json
@using ATMScoreBoard.Web.Services

@inject PartidaService PartidaService
@inject IJSRuntime JSRuntime

<div id="scoring-area">

    <div class="row">
        <!-- Botones Equipo A -->
        <div class="col-4 col-xxl-3">
            <div class="flex-5-cols">
                @for (int i = 1; i <= 16; i++)
                {
                    int bola = (i > 15) ? 0 : i;
                    string bolaAtenuada = classBola(bola);
                    <div class="">
                        <button class="btn btn-dark p-0 btn-bola @(bolaAtenuada)" @onclick="() => AnotarBola(partidaActual.EquipoAId, bola)">
                            <img src="/images/bola-@(bola.ToString("D2")).png" class="img-fluid" />
                        </button>
                    </div>
                }
            </div>
        </div>
        <!-- Botones Equipo B -->
        <div class="col-4 offset-4  col-xxl-3 offset-xxl-6">
            <div class=" flex-5-cols ">
                @for (int i = 1; i <= 16; i++)
                {
                    int bola = (i > 15) ? 0 : i;
                    string bolaAtenuada = classBola(bola);
                    <div>
                        <button class="btn btn-dark p-0 btn-bola @(bolaAtenuada)" @onclick="() => AnotarBola(partidaActual.EquipoBId, bola)">
                            <img src="/images/bola-@(bola.ToString("D2")).png" class="img-fluid" />
                        </button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public PartidaActual? partidaActual { get; set; }

    [Parameter] public EventCallback OnEstadoJuegoCambiado { get; set; }
    [Parameter] public List<int> bolasA { get; set; } = new();
    [Parameter] public List<int> bolasB { get; set; } = new();
    [Parameter] public bool EnModoCorreccion { get; set; }


    private string GetNombresFromNavigation(Equipo equipo)
    {
        var nombres = equipo.EquipoJugadores.Select(ej => ej.Jugador.Nombre).ToList();
        return string.Join(" y ", nombres);
    }

    private async Task AnotarBola(int equipoId, int numeroBola)
    {
        if (partidaActual == null) return;

        string tipoAccion = EnModoCorreccion ? "CorregirBola"  : "EmbolsarBola";

        var accion = new AccionJuegoDto
        {
            MesaId = partidaActual.MesaId,
            TipoAccion = tipoAccion,
            Payload =  System.Text.Json.JsonDocument.Parse(System.Text.Json.JsonSerializer.Serialize(new 
            {
                EquipoId = equipoId,
                NumeroBola = numeroBola
            })).RootElement
        };

        try
        {
            // LLAMADA DIRECTA AL SERVICIO
            await PartidaService.RealizarAccionAsync(accion);

            // Si tiene éxito, notificamos al padre para que refresque
            await OnEstadoJuegoCambiado.InvokeAsync();
        }
        catch (Exception ex)
        {
            // Manejar el error (por ejemplo, con un SweetAlert)
            await JSRuntime.InvokeVoidAsync("Swal.fire", "Acción Inválida", ex.Message, "error");
        }
    }

    private String classBola(int bola)
    {
        if (!EnModoCorreccion)
            return  bolasA.Contains(bola) || bolasB.Contains(bola) ? "bola-atenuada" : "";
        else
            return bolasA.Contains(bola) || bolasB.Contains(bola) ? "" : "bola-atenuada";
       
    }

}