USE [master]
GO
/****** Object:  Database [ATMScoreBoardDB]    Script Date: 14/12/2025 17:39:51 ******/
CREATE DATABASE [ATMScoreBoardDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ATMScoreBoard', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLEXPRESS\MSSQL\DATA\ATMScoreBoard.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ATMScoreBoard_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLEXPRESS\MSSQL\DATA\ATMScoreBoard_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ATMScoreBoardDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ATMScoreBoardDB]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 14/12/2025 17:39:52 ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  User [IIS APPPOOL\ATMScore]    Script Date: 14/12/2025 17:39:52 ******/
CREATE USER [IIS APPPOOL\ATMScore] FOR LOGIN [IIS APPPOOL\ATMScore] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\ATMScore]
GO
/****** Object:  UserDefinedFunction [dbo].[Puntos]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[Puntos]
(
	@Equipo int,
	@EquipoGanador int,
	@Impecable bit
)
returns int
as
begin
	declare @ret int = 0
	if @Equipo = @EquipoGanador
	begin
		set @ret = 1
		if @Impecable = 1
		begin
			set @ret = 2
		end
	end
	return @ret
end
GO
/****** Object:  Table [dbo].[Equipos]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipos](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsIndividual] [bit] NOT NULL,
 CONSTRAINT [PK_Equipos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partidas]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partidas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EquipoAId] [int] NOT NULL,
	[EquipoBId] [int] NOT NULL,
	[EquipoGanadorId] [int] NULL,
	[TipoJuegoId] [int] NOT NULL,
	[Fecha] [datetime2](7) NOT NULL,
	[FueVictoriaImpecable] [bit] NOT NULL,
	[TipoJuego] [int] NOT NULL,
 CONSTRAINT [PK_Partidas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[PuntosHistorico]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


                        CREATE VIEW [dbo].[PuntosHistorico]
                        AS
                        WITH PartidosEquipos AS (
                            SELECT 
                                e.Id AS EquipoId, 
                                p.Id AS PartidaId,
                                p.Fecha,
                                CASE WHEN p.EquipoGanadorId = e.Id THEN 1 + IIF(p.FueVictoriaImpecable = 1, 1, 0) ELSE 0 END AS Puntos,
                                CASE WHEN e.Id = p.EquipoAId THEN p.EquipoBId ELSE p.EquipoAId END AS RivalId,
                                DATEDIFF(day, p.Fecha, GETDATE()) AS Dias
                            FROM Equipos e
                            JOIN Partidas p ON e.Id = p.EquipoAId OR e.Id = p.EquipoBId
                            WHERE p.EquipoGanadorId IS NOT NULL
                        ),
                        PartidosNumerados AS (
                            SELECT 
                                *,
                                ROW_NUMBER() OVER (PARTITION BY EquipoId ORDER BY Fecha DESC) AS Orden
                            FROM PartidosEquipos
                        )
                        SELECT 
                            EquipoId,
                            PartidaId,
                            Fecha,
                            Puntos,
                            RivalId,
                            Dias,
                            Orden
                        FROM PartidosNumerados;
                    
GO
/****** Object:  Table [dbo].[Jugadores]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Jugadores](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](100) NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Jugadores] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoJugadores]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoJugadores](
	[EquipoId] [int] NOT NULL,
	[JugadorId] [int] NOT NULL,
 CONSTRAINT [PK_EquipoJugadores] PRIMARY KEY CLUSTERED 
(
	[EquipoId] ASC,
	[JugadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[HistoricoEquipo]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[HistoricoEquipo]
as
with puntos			as (	
					select			p.id, p.EquipoAId as EquipoId, 
									p.Fecha,
									datediff(day, p.Fecha, getdate()) as dias,
									dbo.Puntos(p.EquipoAId, p.EquipoGanadorId, p.FueVictoriaImpecable) as Puntos,
									p.FueVictoriaImpecable
						from		Partidas p
					union all
					select			p.id, p.EquipoBId as EquipoId, 
									p.Fecha,
									datediff(day, p.Fecha, getdate()) as dias,
									dbo.Puntos(p.EquipoBId, p.EquipoGanadorId, p.FueVictoriaImpecable) as Puntos,
									p.FueVictoriaImpecable
						from		Partidas p),
puntosSort			as (
                    select			*,
									row_number() over (partition by id order by fecha desc) as orden
						from		puntos),
JugadoresEquipoNum as (
                    select      ej.EquipoId,
                                j.Nombre as NombreJugador,
                                row_number() over(partition by ej.EquipoId order by j.Nombre) as JugadorNum
                    from        EquipoJugadores ej
                    join        Jugadores j on ej.JugadorId = j.Id),
JugadoresEnColumnas as (
                    select      jen.EquipoId,
                                max(case when jen.JugadorNum = 1 then jen.NombreJugador end) as JugadorA,
                                max(case when jen.JugadorNum = 2 then jen.NombreJugador end) as JugadorB
                    from        JugadoresEquipoNum jen
                    group by    jen.EquipoId
                )
select			p.Id,
				p.EquipoId, 
				jc.JugadorA,
				jc.JugadorB,
				p.dias,
				p.Puntos,
				p.orden
	from		puntosSort p
	inner join	JugadoresEnColumnas jc on jc.EquipoId = p.EquipoId
	where		jc.JugadorA is not null
		and		jc.JugadorB is not null
GO
/****** Object:  View [dbo].[HistoricoJugador]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create   view [dbo].[HistoricoJugador]
as
with puntos as (
					select			j.Id, 
									j.Nombre, 
									p.Fecha,
									datediff(day, p.Fecha, getdate()) as dias,
									dbo.Puntos(p.EquipoAId, p.EquipoGanadorId, p.FueVictoriaImpecable) as Puntos
						from		Partidas p
						inner join	EquipoJugadores e on e.EquipoId = p.EquipoAId 
						inner join	Jugadores j on	e.JugadorId = j.Id
					union all 
					select			j.Id, 
									j.Nombre, 
									p.fecha,
									datediff(day, p.Fecha, getdate()) as dias,
									dbo.Puntos(p.EquipoBId, p.EquipoGanadorId, p.FueVictoriaImpecable) as Puntos
						from		Partidas p
						inner join	EquipoJugadores e on e.EquipoId = p.EquipoBId 
						inner join	Jugadores j on	e.JugadorId = j.Id),


	puntosSort as (
                    select			*,
									row_number() over (partition by id order by fecha desc) as orden
						from		puntos
                        )
	select			*
		from		puntosSort
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Configuraciones]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Configuraciones](
	[Clave] [nvarchar](50) NOT NULL,
	[Valor] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Configuraciones] PRIMARY KEY CLUSTERED 
(
	[Clave] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Mesas]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_Mesas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartidasActuales]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartidasActuales](
	[MesaId] [int] NOT NULL,
	[TipoJuegoId] [int] NOT NULL,
	[EquipoAId] [int] NOT NULL,
	[EquipoBId] [int] NOT NULL,
	[BandaEquipoA] [nvarchar](20) NULL,
	[EquipoLisasId] [int] NULL,
	[FechaInicio] [datetime2](7) NOT NULL,
	[LadosIntercambiados] [bit] NOT NULL,
 CONSTRAINT [PK_PartidasActuales] PRIMARY KEY CLUSTERED 
(
	[MesaId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PartidasActualesBolas]    Script Date: 14/12/2025 17:39:53 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PartidasActualesBolas](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MesaId] [int] NOT NULL,
	[EquipoId] [int] NULL,
	[NumeroBola] [int] NOT NULL,
	[Timestamp] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_PartidasActualesBolas] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251121004827_InitialMigration', N'8.0.22')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251124102249_AddLadosIntercambiados', N'8.0.22')
GO
INSERT [dbo].[Configuraciones] ([Clave], [Valor]) VALUES (N'RankingDias', N'60')
INSERT [dbo].[Configuraciones] ([Clave], [Valor]) VALUES (N'RankingPartidas', N'50')
GO
INSERT [dbo].[EquipoJugadores] ([EquipoId], [JugadorId]) VALUES (11, 1)
INSERT [dbo].[EquipoJugadores] ([EquipoId], [JugadorId]) VALUES (19, 1)
INSERT [dbo].[EquipoJugadores] ([EquipoId], [JugadorId]) VALUES (21, 1)
GO
SET IDENTITY_INSERT [dbo].[Equipos] ON 

INSERT [dbo].[Equipos] ([Id], [IsIndividual]) VALUES (9, 1)
INSERT [dbo].[Equipos] ([Id], [IsIndividual]) VALUES (10, 1)
INSERT [dbo].[Equipos] ([Id], [IsIndividual]) VALUES (11, 1)
SET IDENTITY_INSERT [dbo].[Equipos] OFF
GO
SET IDENTITY_INSERT [dbo].[Jugadores] ON 

INSERT [dbo].[Jugadores] ([Id], [Nombre], [FechaCreacion], [IsActive]) VALUES (1, N'Gato', CAST(N'2025-11-25T19:19:27.4819762' AS DateTime2), 1)
INSERT [dbo].[Jugadores] ([Id], [Nombre], [FechaCreacion], [IsActive]) VALUES (2, N'Edison (Arantxa)', CAST(N'2025-11-25T19:19:37.6255438' AS DateTime2), 1)
INSERT [dbo].[Jugadores] ([Id], [Nombre], [FechaCreacion], [IsActive]) VALUES (3, N'El Wey', CAST(N'2025-11-25T19:19:46.0163535' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Jugadores] OFF
GO
SET IDENTITY_INSERT [dbo].[Partidas] ON 

INSERT [dbo].[Partidas] ([Id], [EquipoAId], [EquipoBId], [EquipoGanadorId], [TipoJuegoId], [Fecha], [FueVictoriaImpecable], [TipoJuego]) VALUES (1, 9, 10, 10, 4, CAST(N'2025-11-28T19:12:07.5578998' AS DateTime2), 0, 4)
INSERT [dbo].[Partidas] ([Id], [EquipoAId], [EquipoBId], [EquipoGanadorId], [TipoJuegoId], [Fecha], [FueVictoriaImpecable], [TipoJuego]) VALUES (2, 10, 11, 10, 4, CAST(N'2025-11-28T19:24:02.1775002' AS DateTime2), 0, 4)
INSERT [dbo].[Partidas] ([Id], [EquipoAId], [EquipoBId], [EquipoGanadorId], [TipoJuegoId], [Fecha], [FueVictoriaImpecable], [TipoJuego]) VALUES (3, 13, 10, 10, 4, CAST(N'2025-11-28T19:47:01.1017173' AS DateTime2), 0, 4)
GO
SET IDENTITY_INSERT [dbo].[Partidas] OFF
GO
/****** Object:  Index [IX_EquipoJugadores_JugadorId]    Script Date: 14/12/2025 17:39:54 ******/
CREATE NONCLUSTERED INDEX [IX_EquipoJugadores_JugadorId] ON [dbo].[EquipoJugadores]
(
	[JugadorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Jugadores_Nombre]    Script Date: 14/12/2025 17:39:54 ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Jugadores_Nombre] ON [dbo].[Jugadores]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidas_EquipoAId]    Script Date: 14/12/2025 17:39:54 ******/
CREATE NONCLUSTERED INDEX [IX_Partidas_EquipoAId] ON [dbo].[Partidas]
(
	[EquipoAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Partidas_EquipoBId]    Script Date: 14/12/2025 17:39:54 ******/
CREATE NONCLUSTERED INDEX [IX_Partidas_EquipoBId] ON [dbo].[Partidas]
(
	[EquipoBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartidasActuales_EquipoAId]    Script Date: 14/12/2025 17:39:54 ******/
CREATE NONCLUSTERED INDEX [IX_PartidasActuales_EquipoAId] ON [dbo].[PartidasActuales]
(
	[EquipoAId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PartidasActuales_EquipoBId]    Script Date: 14/12/2025 17:39:54 ******/
CREATE NONCLUSTERED INDEX [IX_PartidasActuales_EquipoBId] ON [dbo].[PartidasActuales]
(
	[EquipoBId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PartidasActuales] ADD  DEFAULT (CONVERT([bit],(0))) FOR [LadosIntercambiados]
GO
ALTER TABLE [dbo].[EquipoJugadores]  WITH CHECK ADD  CONSTRAINT [FK_EquipoJugadores_Equipos_EquipoId] FOREIGN KEY([EquipoId])
REFERENCES [dbo].[Equipos] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[EquipoJugadores] CHECK CONSTRAINT [FK_EquipoJugadores_Equipos_EquipoId]
GO
ALTER TABLE [dbo].[EquipoJugadores]  WITH CHECK ADD  CONSTRAINT [FK_EquipoJugadores_Jugadores_JugadorId] FOREIGN KEY([JugadorId])
REFERENCES [dbo].[Jugadores] ([Id])
GO
ALTER TABLE [dbo].[EquipoJugadores] CHECK CONSTRAINT [FK_EquipoJugadores_Jugadores_JugadorId]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Equipos_EquipoAId] FOREIGN KEY([EquipoAId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Equipos_EquipoAId]
GO
ALTER TABLE [dbo].[Partidas]  WITH CHECK ADD  CONSTRAINT [FK_Partidas_Equipos_EquipoBId] FOREIGN KEY([EquipoBId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[Partidas] CHECK CONSTRAINT [FK_Partidas_Equipos_EquipoBId]
GO
ALTER TABLE [dbo].[PartidasActuales]  WITH CHECK ADD  CONSTRAINT [FK_PartidasActuales_Equipos_EquipoAId] FOREIGN KEY([EquipoAId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[PartidasActuales] CHECK CONSTRAINT [FK_PartidasActuales_Equipos_EquipoAId]
GO
ALTER TABLE [dbo].[PartidasActuales]  WITH CHECK ADD  CONSTRAINT [FK_PartidasActuales_Equipos_EquipoBId] FOREIGN KEY([EquipoBId])
REFERENCES [dbo].[Equipos] ([Id])
GO
ALTER TABLE [dbo].[PartidasActuales] CHECK CONSTRAINT [FK_PartidasActuales_Equipos_EquipoBId]
GO
/****** Object:  StoredProcedure [dbo].[RankingEquipo]    Script Date: 14/12/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RankingEquipo]
	@partidos int,
	@dias int
as
begin
	select			h.EquipoId as Id,
					h.JugadorA,
					h.jugadorB,
					cast(sum(h.puntos) as int) as PuntosRanking,
					cast(dense_rank() over (order by sum(h.puntos) desc) as int) AS PosicionRanking
		from		HistoricoEquipo h
		where		h.orden <= @partidos and h.dias < @dias
		group by	h.EquipoId, 
					h.JugadorA,
					h.jugadorB
		order by	PuntosRanking desc
end
GO
/****** Object:  StoredProcedure [dbo].[RankingJugadores]    Script Date: 14/12/2025 17:39:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[RankingJugadores]
	@partidos int,
	@dias int

as
begin
	select			h.Id, 
					h.Nombre,
					cast(sum(h.puntos) as int) as PuntosRanking,
					cast(max(h.orden) as int) as TotalPartidas,
					round(cast(sum(h.puntos) as float) / cast(max(h.orden) as float), 3) as Average,
					cast(dense_rank() over (order by sum(h.puntos) desc) as int) as PosicionRanking
		from		HistoricoJugador h
		where		h.orden <= @partidos and h.dias <= @dias
		group by	h.Id, h.Nombre
		order by	PuntosRanking desc, h.Nombre asc
end
GO
USE [master]
GO
